.description-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 20px 50px 20px;
    font-size: 1.5em;
    color: var(--textColor);
}

.description-main p {
    text-align: center;
    width: 60%;
    font-size: 1.15em;
}

.description-main p b{
    color: var(--lighest);
}

.description {
    display: flex;
    align-items: center;
    margin: 60px 20px 50px 20px;
    font-size: 1.5em;
    color: var(--textColor);
    justify-self: center;
    width: 70%;
}

.description div {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.description p {
    text-align: center;
}

.description p:first-child {
    padding-bottom: 20px;
    color: var(--lighest);
}

.description img {
    max-height: 300px;
}