/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    position: relative;
    padding: 20px;
}

.top-images {
    display: flex;
    box-sizing: border-box;
}

.title-logo {
    align-items: center;
    width: 30%;
    justify-content: center;
    justify-items: center;
}

/* Title Logo */
.nbbt-logo {
    width: auto;
    max-height: 350px;
    margin-top: 20px;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.more-info-btn {
    font-size: 1em;
    background-color: var(--dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    gap: 5px;
    text-decoration: none;
}

.more-info-btn:hover {
    background-color: var(--light);
}

.more-info-btn i {
    font-size: 1.7em;
}

/* Character Image */
.character {
    float: left;
    width: 35%;
}

.character img {
    height: 400px;
    width: auto;
    float: left;
}

.character-right {
    float: right;
    width: 35%;
}

.character-right img {
    height: 400px;
    width: auto;
    float: right;
}

.coming-soon {
    font-size: 1.5em;
    font-family: Courier New, monospace;
    color: var(--textColor);
    margin-top: 20px;
}

/* Description Text */
.top-description {
    margin-top: 20px;
    font-size: 2em;
    color: var(--textColor);
}

.top-description p {
    margin: 10px 0;
}

/* Press Kit Button */
.button-container {
    margin-top: 20px;
}

.press-kit {
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.press-kit:hover {
    background-color: #333;
    color: #fff;
}

.carousel-parent {
    justify-content: center;
    display: flex;
}
