.project-buttons-sk {
    font-size: 1.25em!important;
    width: 165px!important;
    height: 50px!important;
}

/* Title Logo */
.sk-logo {
    width: auto;
    max-height: 250px;
    margin-top: 20px;
}

