:root {
    --darkest: #22223B;
    --dark: #4A4E69;
    --light: #9A8C98;
    --lighest: #C9ADA7;
    --textColor: #F2E9E4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--darkest); /* Dark gray background */
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}
