* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.project-capsule {
    flex: 1 1 20%;
}

.project-capsule img {
    width: auto;
}

.project-content {
    flex: 1 1 80%;
    color: var(--textColor);
}

.project-content h1 {
    font-size: 2.5em;
}

.project-release-date {
    font-size: 1em;
    font-style: italic;
    color: var(--lighest);
}

.project-description {
    font-size: 1.5em;
    padding: 20px;
}

.project-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.more-info-btn {
    font-size: 1em;
    background-color: var(--dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    gap: 5px;
}

.more-info-btn:hover {
    background-color: var(--light);
}

.more-info-btn i {
    font-size: 1.7em;
}

.screenshots {
    display: flex;
    gap: 10px;
    padding: 20px 0px 0px 0px;
}

.screenshots img {
    width: 25%;
    height: auto;
    border: 1px solid var(--dark);
    border-radius: 4px;
    padding: 2px;
}

.steam-logo {
    text-align: right;
    margin-top: 20px;
}

.steam-logo img {
    width: 100px;
}
